<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid no-padding">
		<div class="row">
			<div class="col-md-12">
				<div style="background-image: url('https://image.shutterstock.com/image-vector/vector-illustration-handwritten-lettering-welcome-600w-1665113644.jpg'); height: 400px; widht: 296px;">
					Welcome <b th:text="${User.getFirstName()}"></b><br> 
					To activate your account, please <a th:href="@{http://localhost:8080/indiabazaar/users/activate/{id}(id=${User.getUserId()})}">Click me</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>